<!DOCTYPE html>
<div>
    <div style="width:100%; background-image:url('/Images/ab.jpg');background-repeat:no-repeat;vertical-align:bottom;background-size:100% 100%;padding-top:332px;height:402px;">
        <div style="height:70px;background-color:rgba(0,0,0,0.3);padding:15px 15px;text-align:right;font-size:20px;color:#CCC"> A Global Market Place For Art Lovers</div>
    </div>

    <main class="wrapper main-content" role="main">

        <div class="grid">
            <div class="grid__item">

                <div class="section-header section-header--large">
                    <h2 class="section-header__title--left section-header__title h4">About Us</h2>
                </div>
                <p style="text-align:justify;text-justify:inter-word;">
                    ArtBrowser is a global marketplace for artists, galleries and art lovers. We are a digital platform that will
                    help you share your work to the masses, and connect with others around the world based on your similar interests.
                    Our app is easy to use, with a swipe right for like, and left for dislike approach. ArtBrowser lets your artwork
                    do the talking, as judgement is based on visuals alone, creating a completely unique experience.
                    ArtBrowser is an exclusive community of artists and institutions, and not only will you be able to sell your artwork,
                    but you can also share your exhibitions and events with your followers. We will also give you the opportunity to
                    upgrade to premium membership at any time.
                </p>
            </div>

        </div>
    </main>
</div>