<main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">
            <div class="grid-uniform grid-link__container12">
                <div class="grid__item large--one-full">
                    <div class="section-header section-header--large">
                        <center><h2 class="section-header__title--left section-header__title h4">Forgot Password</h2></center>
                    </div>
                    <form action="http://69.73.184.155/~isoft/ArtBrowser/website8/login_db.php" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="small--hide">
                        Email<input type="text" value="" placeholder="" name="login_username" aria-label="your-email@example.com" autocorrect="off" autocapitalize="off" required>

                        <input type="submit" class="btn" name="Submit" id="subscribe" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
