
@{
    ViewBag.Title = "TermsConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        text-align: justify;
    }

    h3 {
        text-transform: uppercase;
    }

    hr {
        margin: 10px 0px;
    }
</style>
<main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">
            <div class="section-header section-header--large">
                <h3 class="section-header__title--left section-header__title h3">Terms & Conditions</h3>
            </div>
        </div>
    </div>
</main>

