
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="wrapper main-content" role="main" style="padding-bottom:0px;">
    <div class="grid">
        <div class="grid__item">
            <h2 class="section-header__title--left section-header__title h2">Error</h2>
            <p>
                There was an error while processing your request in <a href="~/">artbrowserapp.com</a>
            </p>
            <br />
            <h3 style="text-transform:none">Please try the following to find out what you are looking for:</h3>
            <ul style="list-style:disc;margin:0 30px 30px;">
                <li>
                    Use the site's top navigation bar.
                </li>
                <li>
                    Use your browser's back button to return to the previous page.
                </li>
            </ul>
            <h3 style="text-transform:none">Useful shortcuts to <a href="~/">artbrowserapp.com</a> features</h3>
            <ul style="margin:0 30px 30px;">
                <li>
                    <a href="~/Main/About">About</a>
                </li>
                <li>
                    <a href="~/Help/GettingStarted">Getting Started</a>
                </li>
                <li>
                    <a href="~/Account/Login">Login</a>
                </li>
                <li>
                    <a href="~/Arts">Arts Colletion</a>
                </li>
            </ul>
        </div>
    </div>
</main>