@{
    ViewBag.Title = "Reset password confirmation";
}

<main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">
            <div class="grid-uniform grid-link__container">
                <!--<div class="grid__item large--one-fifth medium-down--hide">

                </div>-->
                <div class="grid__item large--one-full">
                    <div class="text-center">
                        <h1>@ViewBag.Title.</h1>
                        <div>
                            <p>
                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
