<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ArtBrowserDBContext" connectionString="metadata=res://*/DAL.ArtBrowserModel.csdl|res://*/DAL.ArtBrowserModel.ssdl|res://*/DAL.ArtBrowserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.50.133.109;initial catalog=artbrowserapp_acc;integrated security=False;persist security info=True;user id=artbrowseracc;password=Ab@12345;connect timeout=15;encrypt=False;packet size=4096;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>