
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">
            <div class="section-header section-header--large">
                <h2 class="section-header__title--left section-header__title h4">FAQ</h2>
            </div>
            <p>
                <b>1. Will my money be safe?</b><br />
                Yes! We will hold the money securely for you, and only once you have received your item will the money be transferred to the artist.
            </p>

            <p>
                <b>2. Does this cover insurance for my purchased item?</b><br />
                The money you have paid covers the cost of the artwork and shipping. If damages occur during the delivery process, you can contact us about returning the item.
            </p>

            <p>
                <b>3. What is your returns policy?</b><br />
                You may return any item within 30 working days. However, the item must be returned in the condition you received it.
            </p>

            <p>
                <b>4. I am an artist, how can I sign up?</b><br />
                That's great! Please contact us via the form below.
            </p>
            <p>
                <b>5. I want to advertise an event, is this possible?</b><br />
                Yes, for more information please contact us directly using the form below.
            </p>
            <p>
                <b>6. How can I contact the artist directly?</b><br />
                On the Artist's Profile there is a contact form. For privacy reasons we do not give out personal emails or contact numbers.
            </p>
            <p>
                <b>7. I find a picture or comment offensive, how can I report it?</b><br />
                Please get in touch giving as much detail on the incident, including the profile on which it occurred.
            </p>
            <p>
                <b>8. How can I purchase a work that is not local?</b><br />
                This depends on whether the artist or gallery has stated whether the item can feasibly be shipped. If so, then yes go ahead! However, sometimes items may be too big or fragile be sent via postage.
            </p>
            <p>
                <b>9. I liked an item and now it has disappeared, where has it gone?</b><br />
                This will happen when an item has been sold. If you really love a piece, why not follow the artist so you can be the first to know when they release a new artwork.
            </p>

            <p>
                <b>10. How can a restrict my searches to certain categories?</b><br />
                You can search artwork either through 'tags' or 'categories'.
            </p>
        </div>
    </div>
</main>

