@model ArtGallery.Data.DAL.Configuration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="wrapper main-content" role="main">
    <div class="grid">
        @Html.Raw(Model.Value)
    </div>
</main>

