<!-- FOOTER SECTION START -->

<footer class="site-footer small--text-center" role="contentinfo">
    <div class="wrapper">
        <div class="grid-uniform ">
            <div class="grid__item large--one-quarter medium--one-half">
                <h4>Quick Links</h4>
                <ul class="site-footer__links">

                    <li><a href="#pages/contact-us">Contact Us</a></li>

                    <li><a href="#pages/about-us">Private Policy</a></li>

                    <li><a href="#pages/about-us">FAQ</a></li>

                    <li><a href="#pages/about-us">About Us</a></li>

                </ul>

            </div>


            <div class="grid__item large--one-quarter medium--one-half">
                <h4>Get Connected</h4>

                <ul class="inline-list social-icons">

                    <li>
                        <a class="icon-fallback-text" href="https://twitter.com/" title="ArtBrowser on Twitter">
                            <span class="icon icon-twitter" aria-hidden="true"></span>
                            <span class="fallback-text">Twitter</span>
                        </a>
                    </li>


                    <li>
                        <a class="icon-fallback-text" href="https://www.facebook.com/" title="ArtBrowser on Facebook">
                            <span class="icon icon-facebook" aria-hidden="true"></span>
                            <span class="fallback-text">Facebook</span>
                        </a>
                    </li>

                    <li>
                        <a class="icon-fallback-text" href="#" title="ArtBrowser on RSS">
                            <span class="icon icon-rss" aria-hidden="true"></span>
                            <span class="fallback-text">RSS</span>
                        </a>
                    </li>

                </ul>
                <a id="appStoreLink" href="#" target="_blank" title="Download on the App Store"><img src="~/Images/cta_app_store.png" alt="Download on the App Store" data-pin-nopin="true"></a>
            </div>


            <div class="grid__item large--one-quarter medium--one-half">
                <h4>Contact Us</h4>
                <div class="rte">
                    44-800-123-4567<br>
                    <a href="##">support@example.com</a><br>
                    36 St Andrew Square.<br>
                    Edinburgh, United Kingdom<br>
                </div>
            </div>


            <div class="grid__item large--one-quarter medium--one-half">
                <h4>Newsletter</h4>
                <p>Sign up for promotions</p>
                <form name="mc-embedded-subscribe-form" class="small--hide" id="mc-embedded-subscribe-form" action="##" method="post" target="_blank">
                    <input name="EMAIL" id="mail" aria-label="your-email@example.com" type="email" placeholder="your-email@example.com" value="" autocapitalize="off" autocorrect="off">
                    <input name="subscribe" class="btn" id="subscribe" type="submit" value="Subscribe">
                </form>
            </div>

        </div>
        <hr>
        <div class="grid">
            <div class="grid__item large--one-half large--text-left medium-down--text-center">
                <p class="site-footer__links">Copyright © 2015, Art Browser. </p>
            </div>

            <div class="grid__item large--one-half large--text-right medium-down--text-center">
                <ul class="inline-list payment-icons">


                    <li>
                        <span class="icon-fallback-text">
                            <span class="icon icon-master" aria-hidden="true"></span>
                            <span class="fallback-text">master</span>
                        </span>
                    </li>

                    <li>
                        <span class="icon-fallback-text">
                            <span class="icon icon-visa" aria-hidden="true"></span>
                            <span class="fallback-text">visa</span>
                        </span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</footer>
<!-- FOOTER SECTION END -->
