<div class="grid__item large--one-fifth medium-down--hide">

    <nav class="sidebar-module">
        <div class="section-header">
            <p class="section-header__title h4">Admin Panel</p>
        </div>
        <ul class="sidebar-module__list">

            <li>
                <a href="~/Categories" class="">Categories</a>
            </li>
            <li>
                <a href="~/Locations" class="">Locations</a>
            </li>
            <li>
                <a href="~/Events" class="">Events</a>
            </li>
            <li>
                <a href="~/Arts" class="">Arts</a>
            </li>
            <li>
                <a href="~/Announcements" class="">Announcements</a>
            </li>
            <li class="sidebar-sublist">
                <div class="sidebar-sublist__trigger-wrap">
                    <a class="sidebar-sublist__has-dropdown ">
                        Users
                    </a>
                    <button type="button" class="icon-fallback-text sidebar-sublist__expand">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="fallback-text">+</span>
                    </button>
                    <button type="button" class="icon-fallback-text sidebar-sublist__contract">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="fallback-text">-</span>
                    </button>
                </div>
                <ul class="sidebar-sublist__content">

                    <li>
                        <a href="~/Partner/Artists">Artists</a>
                    </li>

                    <li>
                        <a href="~/Partner/Institutions">Institutions</a>
                    </li>

                </ul>
            </li>

            @*<li class="sidebar-sublist">
                <div class="sidebar-sublist__trigger-wrap">
                    <a href="~/Arts" class="sidebar-sublist__has-dropdown ">
                        Arts
                    </a>
                    <button type="button" class="icon-fallback-text sidebar-sublist__expand">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="fallback-text">+</span>
                    </button>
                    <button type="button" class="icon-fallback-text sidebar-sublist__contract">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="fallback-text">-</span>
                    </button>
                </div>
                <ul class="sidebar-sublist__content">

                    <li>
                        <a href="~/Arts/Create">Add Item</a>
                    </li>

                    <li>
                        <a href="~/Arts/Index">Update Item</a>
                    </li>

                </ul>
            </li>

            <li class="sidebar-sublist">
                <div class="sidebar-sublist__trigger-wrap">
                    <a href="~/Announcements/index" class="sidebar-sublist__has-dropdown ">
                        Announcements
                    </a>
                    <button type="button" class="icon-fallback-text sidebar-sublist__expand">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="fallback-text">+</span>
                    </button>
                    <button type="button" class="icon-fallback-text sidebar-sublist__contract">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="fallback-text">-</span>
                    </button>
                </div>
                <ul class="sidebar-sublist__content">

                    <li>
                        <a href="~/Announcements/create">Add Announcement</a>
                    </li>

                    <li>
                        <a href="~/Announcements/Index">Update Announcement</a>
                    </li>

                </ul>
            </li>*@

            <li>
                <a href="~/Admin/Orders" class="">Orders</a>
            </li>

            <li class="sidebar-sublist">
                <div class="sidebar-sublist__trigger-wrap">
                    <a href="#" class="sidebar-sublist__has-dropdown ">
                        My Actions
                    </a>
                    <button type="button" class="icon-fallback-text sidebar-sublist__expand">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="fallback-text">+</span>
                    </button>
                    <button type="button" class="icon-fallback-text sidebar-sublist__contract">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="fallback-text">-</span>
                    </button>
                </div>
                <ul class="sidebar-sublist__content">

                    <li>
                        <a href="~/Admin/My_Action_User">Users</a>
                    </li>

                    <li>
                        <a href="~/Admin/My_Action_Arts">Arts</a>
                    </li>
                    <li>
                        <a href="~/Admin/My_Action_Announcements">Announcements</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="~/Admin/Search" class="">Search</a>
            </li>

        </ul>
    </nav>

    <nav class="sidebar-module">
        <div class="section-header">
            <p class="section-header__title h4">Help</p>
        </div>
        <ul class="sidebar-module__list">

            <li>
                <a href="#" class="">Get Started</a>
            </li>
            <li>
                <a href="#" class="">FAQ</a>
            </li>
        </ul>
    </nav>
</div>
