<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">
            User Detail
        </h2>
        <div class="section-header__link--right medium-down--hide">
            <a href="Admin.php" title="Browse our Gallery3 collection">Dashboard</a>&nbsp;>
            <a href="Add-User.php" title="Browse our Gallery3 collection">User</a>&nbsp;>
            <a href="#" title="Browse our Gallery3 collection">User Details</a>
        </div>
    </div>
    <div class="grid-uniform grid-link__container" style="margin-left:30px;">
        <form name="myform" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <style>
                td {
                    border: 0px;
                    padding: 0px;
                }
            </style>

            <div class="grid-uniform grid-link__container">
                <!----------------------------------------- start here content layout ------------------------------>
                <div class="cover">
                    <img src="~/images/slide1.jpg" height="250" width="750">
                </div>
                <div class="profile-lay">
                    <div class="profile" style="width:150px;">
                        <img src="../images/user_pic.jpg" style="width:150px;height:150px;margin-top:-85px;margin-left:10px;border:10px;border-radius: 50%;">
                        <center><b>Mrs. safrine</b></center>
                    </div><br />
                    <style>
                        th, td, tr {
                            text-align: left;
                            padding: 0px;
                            border: 0px solid #f0f0f0;
                            font-size: 14px;
                        }
                    </style>
                    <div id="name2">
                        <table>
                            <tr>
                                <td><h3>Age</h3></td>
                                <td><h3>Location</h3></td>
                                <td><h3>Type Of Institution</h3></td>
                                <td><h3>Work</h3></td>
                            </tr>
                            <tr>
                                <td><p>20</p></td>
                                <td><p>India</p></td>
                                <td><p>Management</p></td>
                                <td><p>Business</p></td>
                            </tr>
                        </table>
                    </div>


                    <h3>Statement</h3>
                    <p style="text-align:justify;text-justify:inter-word;">
                        stackoverflow.com/.../bootstrap-alignment-of-button-and-pagination
                        Nov 4, 2013 - I am using Twitter Bootstrap 3 to build my new website. I want to place a button on ...
                        The alternative is to simply extend the .pagination class
                    </p>

                    <!----------------------------------------- end here content layout ------------------------------>
                </div>
                <br />
                <small class="view-more">
                    <a href="#collections/all" title="Browse our Gallery3 collection">View all Items</a>
                </small>
                <hr class="hr--clear">
                <div class="section-header section-header--large">
                    <h2 class="section-header__title--left section-header__title h4">

                        Arts

                    </h2>
                    <div class="section-header__link--right medium-down--hide">
                        <a href="#collections/all" title="Browse our Gallery3 collection">View all Items</a>
                    </div>
                </div>
                <!---- ---->
                <div class="grid-uniform grid-link__container">
                    <div class="grid__item medium-down--one-half large--one-quarter">
                        <a href="#products/1tb-intenso-portable-external-hard-drive" class="grid-link">
                            <span class="grid-link__image grid-link__image--product" style="height: 170px;">


                                <span class="grid-link__image-centered">
                                    <img src="../images/Gallery1.jpg" alt="Art 1">
                                </span>
                            </span>
                            <p class="grid-link__title">Art 1</p>
                            <p class="grid-link__meta">

                                <strong>$45.99</strong>


                                <br><span class="spr-badge" id="spr_badge_405352880" data-rating="5.0">

                                    <span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>

                                </span>

                            </p>
                        </a>
                    </div>
                    <div class="grid__item medium-down--one-half large--one-quarter">
                        <a href="#products/acer-i3-8gb-750gb-win-8" class="grid-link">
                            <span class="grid-link__image grid-link__image--product" style="height: 170px;">


                                <span class="grid-link__image-centered">
                                    <img src="../images/Gallery1.jpg" alt="Acer E1 i3">
                                </span>
                            </span>
                            <p class="grid-link__title">Art 2</p>
                            <p class="grid-link__meta">

                                <strong>$349.00</strong>


                                <br><span class="spr-badge" id="spr_badge_405353036" data-rating="4.0">

                                    <span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span>

                                </span>

                            </p>
                        </a>
                    </div>
                    <div class="grid__item medium-down--one-half large--one-quarter">
                        <a href="#products/acer-i7-6gb-750gb-win-8" class="grid-link">
                            <span class="grid-link__image grid-link__image--product" style="height: 170px;">


                                <span class="grid-link__image-centered">
                                    <img src="../images/Gallery1.jpg" alt="Acer E1-i5">
                                </span>
                            </span>
                            <p class="grid-link__title">Art 3</p>
                            <p class="grid-link__meta">

                                <strong>$439.00</strong>


                                <br><span class="spr-badge" id="spr_badge_405353076" data-rating="0.0">

                                    <span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span>

                                    <span class="spr-badge-caption">

                                        No reviews

                                    </span>
                                </span>

                            </p>
                        </a>
                    </div>

                </div>
                <small class="view-more">
                    <a href="#collections/all" title="Browse our Gallery3 collection">View all Items</a>
                </small>
                <!----------->
            </div>

    </div>
